html, *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    background-color: #000000;
}

.title{
    font-size: 2rem;
    font-weight: bold;
    margin: 3rem 0 3rem 4rem;
    color: #FFFFFF;
}

@media(max-width:768px){
    .title{
      margin: 1rem 0rem 1rem 2rem; 
    }
  }

.container_movies, .container_series{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #000000;
}

@media(max-width:768px){
    .container_movies, .container_series{
      flex-wrap: none;
      align-items: center;
    }
  }

.box_title_image{
    width: 240px;
    background-color: #000000;
    margin: 10px;
    flex-direction: column;
    border: 2px solid #FFFFFF; 
}

@media(max-width:1024px){
    .box_title_image{
      width: 220px; 
    }
  }

@media (max-width:768px){
    .box_title_image{
        width: 280px;
    }
}


.box_image{
    display: flex;
  justify-content: center;
}

.poster{
    width: 100%;
    transform: scale(0.9);
    transition: all aese 0.2s;
    cursor: point;
    
}

.poster:hover{
    transform: scale(1);
}

.wrap{
    margin: 10px 20px;
    width: 85%;
    display: flex;
    flex-direction: column;
}

@media(max-width:768px){
    .wrap{
      width: 90%;
      margin: 5px 10px; 
      height: 43vh;
    }
  }

.box_info{
    width:100%;
    justify-content: center;
    align-items: center;   
    display: flex;
    justify-content: space-around;
    margin: 0px auto 8px;
}

.average, .date{
    font-size: 1rem;
    color: #EEC900;
}

@media(max-width:768px){
    .name{
      font-size: .8rem;  
    }
  }

.box_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popularity{
    color: #EEC900;
    font-size: .8rem;
    margin:0px 0px 10px ;
}

@media(max-width:768px){
    .name{
      font-size: .6rem;  
    }
  }

.titles{
    font-size: 1.2rem;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin: 0px auto 6px; 
}

@media(max-width:768px){
    .box_title_image{
      font-size: 1rem;  
    }
  }

.overview{
    font-size: .6rem;
    color: #FFFFFF;
    text-indent: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
}

.btn{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:768px){
    .btn{
      height: 5vh; 
      margin: 10px 0;
    }
  }

.btn button{
    width: 7vw;
    height: 4vh;
    margin-top: 15px;
    background-color: #FFFFFF;
    border-radius: 15px;
    outline: #000000;
    border-style: none;
}

@media(max-width:768px){
    .btn button{
        width: 8vw;
     height: 2rem;
     margin-top: 2rem;  
    }
  }
