html, *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    background-color: #000000;
}

.title{
    font-size: 2rem;
    font-weight: bold;
    margin: 1.5rem 0 1.5rem 4rem;
    color: #FFFFFF;
}

@media(max-width:768px){
    .title{
      font-size: 1.5rem;
      margin: 1rem 0rem 1rem 2rem; 
    }
  }

.container_movies, .container_series{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #000000;
}

@media(max-width:768px){
    .container_movies, .container_series{
      flex-wrap: none;
      align-items: center;
    }
  }

.box_title_image{
    width: 240px;
    background-color: #000000;
    margin: 10px;
    border: 2px solid #FFFFFF; 
}

@media(max-width:1024px){
    .box_title_image{
      width: 220px; 
    }
  }

@media (max-width:768px){
    .box_title_image{
        width: 700px;
        display: flex;
        border: 2px solid #2B2929;
    }
}

@media (max-width:425px){
  .box_title_image{
      width: 400px;
     flex-direction: column;
      border: 2px solid #2B2929;
  }
}

.box_image{
    display: flex;
  justify-content: center;
}

@media (max-width:768px){
  .box_image{
      height: 100%;
  }
}


.poster{
    width: 100%;
    transform: scale(0.9);
    transition: all aese 0.2s;
    cursor: point;
    
}

.wrap{
  margin: 10px 20px;
  width: 85%;
  display: flex;
  flex-direction: column;
}

@media(max-width:768px){
  .wrap{
    width: 100%;
    height: 100%;
    margin: 5px 10px; 
  }
}


.poster:hover{
    transform: scale(1);
}

.box_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titles{
    font-size: 1.5rem;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin: 0px auto 12px; 
}

@media(max-width:768px){
    .titles{
      font-size: 1.4rem;
      margin: .5rem auto;
    }
  }

  @media(max-width:425px){
    .titles{
      font-size: 1.2rem;
      margin: .5rem auto;
    }
  }

.overview{
    font-size: 1rem;
    text-indent: 10px;
    color: #FFFFFF;
    padding: 2px;
}

  @media(max-width:768px){
   .overview{
     font-size: .8rem;
   } 
  }

  @media(max-width:425px){
    .overview{
      margin: 0px 15px 0px 10px;
    } 
   }


.popularity{
  color: #EEC900;
  font-size: .8rem;
  margin:10px 0 ;
}

@media(max-width:768px){
  .popularity{
    font-size: 1rem;  
    margin: 20px 0;
  }
}

.box_info{
  width:100%;
  justify-content: center;
  align-items: center;   
  display: flex;
  justify-content: space-around;
  margin: 0px auto 8px;
}

.average, .date{
  font-size: .8rem;
  color: #EEC900;
}

@media(max-width:768px){
  .average, .date{
    font-size: 1rem;  
  }
}

.btn{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

@media(max-width:768px){
    .btn{
      margin: 2rem 0 1rem;
      height: 3vh;
    }
  }

.btn button{
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    color:#FFFFFF;
    background-color: #000000;
   outline: #FFFFFF;
    border-style: none;
    cursor: pointer;
    text-align: center;
}
