body{
    display: flex;
    justify-content: center;
    background-color:#000000;
}


.container{
    max-width: 1366px;
    min-width: 768px;
    background-color: #000000;
    margin:0;
    padding:0;
}
  
  


